@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700');
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.noti_icon {
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.noti_number {  
    position: absolute;
    top: 0;
    width: 13px;
    height: 13px;
    margin-left: 5px;
    padding: 1px;
    background: $yellow;
    border-radius: 50%;
    color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    cursor: pointer;
}