@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700');
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.pane_container {
  position: absolute;
  background: $white;
  z-index: 1;
  top: 50px;
  right: 5px;
  width: 30%;
  color: $black;
  border: 1px solid $transparentBlack;
  display: flex;
  flex-direction: column;
  // justify-content: start;
  .title {
    border-bottom: 1px solid $transparentBlack;
    background: $yellow;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .btn_all button {
      border: none;
      outline: none;
      background: none;
      color: $black;
      padding: 10px;
      cursor: pointer;
    }
    .text {
      width: 100%;
      text-align: start;
      padding: 0;
    }
  }
  .container {
    max-height: 300px;
    overflow-y: scroll;

    .not_read {
      width: 100%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $transparentBlack;
    }
    .not {
      width: 100%;
      padding: 5px;
      display: flex;
      background: $transparentBlack;
      flex-direction: column;
      border-bottom: 1px solid $transparentBlack;
    }
    .texts {
      font-size: small;
      padding-left: 10px;
      margin-top: 5px;
      border-left: 1px solid $black;
      margin-left: 5px;
      color: $lightBlack;
    }
    .title_2 {
      font-weight: bold;
    }

    .bottom {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .markOne button {
        border: none;
        outline: none;
        background: none;
        color: $yellow;
        cursor: pointer;
      }
      .date {
        font-size: 10px;
        font-style: italic;
        color: $lightGray;
        padding-top: 5px;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .pane_container {
    width: 60%;
  }
}
@media screen and (max-width: $xls) {
  .pane_container {
    width: 80%;
    font-size: small;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.95);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.95);
  }
}
