.app {
  width: 100%;
  color: #000000;
}

#root {
  width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 20px;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
@media screen and (max-width: 780px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

h2 {
  font-size: 36px;
}

.image :global {
  aspect-ratio: 1/1;
  height: auto;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
@media screen and (max-width: 1025px) {
  .image :global {
    aspect-ratio: unset;
    height: 100%;
  }
}
@media screen and (max-width: 780px) {
  .image :global {
    width: 100%;
    height: 30vh;
  }
}
.image :global .img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team {
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-left: 5%;
}
.team h3 {
  font-size: 2.1875em;
  font-family: "Inter-Bold.ttf";
  font-family: "Inter-Regular.ttf";
  text-align: center;
  font-weight: bold;
  width: 100%;
  font-size: 36px;
}
@media screen and (max-width: 1600px) {
  .team h3 {
    font-size: 1.9375em;
  }
}
@media screen and (max-width: 1024px) {
  .team h3 {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 780px) {
  .team h3 {
    font-size: 1.5625em;
  }
}
@media screen and (max-width: 600px) {
  .team h3 {
    font-size: 1.4375em;
  }
}
@media screen and (max-width: 425px) {
  .team h3 {
    font-size: 1.1875em;
  }
}
.team img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 10px;
}
.team .photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team .photos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .team {
    margin-left: 0;
    padding: 0 20px;
  }
  .team h3 {
    font-size: 28px;
  }
  .team img {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
}

.text :global {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.text :global .paragraph {
  font-family: "Inter-Regular.ttf";
}

.aboutUS :global {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-x: hidden;
}
@media screen and (max-width: 1600px) {
  .aboutUS :global {
    padding: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .aboutUS :global {
    padding: 25px;
  }
}
@media screen and (max-width: 780px) {
  .aboutUS :global {
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  .aboutUS :global {
    padding: 15px;
  }
}
.aboutUS :global .wrapperDiv {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}/*# sourceMappingURL=about.module.css.map */