@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

$table-background-color: #fff;

.cardBox {
  width: 500px;
  height: 200px;
  margin-left: 33%;
  margin-top: 15%;
  border-radius: 12px;
  h1 {
    text-align: center;
    font-size: 18px;
  }
  .cartEmpty {
    font-family: 'poppins', sans-serif;
  }
}

@media (max-width: 768px) {
  .cardBox {
    width: 90%;
    margin-left: 5%;
    margin-top: 50%;
  }
}

@media (max-width: 576px) {
  .cardBox {
    width: 100%;
    margin-left: 0;
    margin-top: 10%;
  }
}
.tableContainer_container {
  @include mq($md) {
    padding: 1rem;
    width: 100vw;
    margin: 0;
  }
}
.tableContainer {
  padding-top: 2rem;
  overflow-x: auto;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  @include mq($md) {
    width: calc(100vw - 2rem);
    overflow-x: scroll;
    align-items: flex-start;
  }
}
thead {
  background-color: darken($table-background-color, 10%);
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

tbody td img {
  display: block;
  max-width: 150px;
  height: auto;
  border-radius: 5px;
}

tbody tr:nth-child(even) {
  background-color: lighten($table-background-color, 20%);
}

tbody td {
  border-bottom: 1px solid white;
}

tbody td:last-child {
  text-align: right;
}

tbody td:first-child {
  font-weight: bold;
}

tbody td:last-child {
  font-weight: bold;
}

tfoot {
  font-weight: bold;
}

tfoot td {
  padding-top: 12px;
  border-top: 2px solid white;
}
.delete {
  background-color: $red;
  display: flex;
  padding: 0 20px;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: $white;
  font-family: $interRegular;
  border: non;
  cursor: pointer;
  border-radius: 5px;
  @include mq($lg) {
    height: 45px;
    padding: 0 15px;
  }
  @include mq($xls) {
    height: 40px;
    padding: 0 10px;
  }
}
.return-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: 1px solid #c2c2c3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  @media (max-width: 1023px) {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    background-color: darken(#e7e7e7, 5%);
  }

  &:focus {
    outline: none;
  }
}

.update-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: 1px solid #c2c2c3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  @media (max-width: 1023px) {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    background-color: darken(#e7e7e7, 5%);
  }

  &:focus {
    outline: none;
  }
}
.qtyField {
  position: relative;
  .simpleLoading {
    position: absolute;
    inset: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(55, 54, 54, 0.235);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    .spinnerr {
      color: $black;
    }
  }
}
.errorUpdate {
  position: absolute;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  padding: 10px;
  color: $white;
  font-family: $interRegular;
  @include h6;
  background-color: $red;
  position: absolute;
  top: -5px;
  right: -20%;
  border-radius: 10px 10px 10px 0;
}
.changeQuantity {
  border-radius: 10px;
  background-color: $placeholderColor;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  color: $black;
  border: none;
  &:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
}
.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin: auto;

  @include mq($xls) {
    gap: 10px;
  }
  @include mq($xxsh) {
    padding: 0;
    gap: 10px;
  }

  .delete {
    width: fit-content !important;
    background-color: $red;
    color: $white;
    margin: 0;
    border-radius: 5px;
    margin: 0;
  }
  .save {
    background-color: $green;
    color: $white;
    padding: 10px 20px;
    margin: 0;
    border-radius: 5px;
  }
  .cancel {
    background-color: $placeholderColor;
    color: $black;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0;
  }
}

.bottomActions {
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
  margin: auto;
  background-color: transparent;
  @include mq($xms) {
    flex-direction: column;
    gap: 20px;
  }

  .btnDeleteBox {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 26vh;
    background-color: transparent;
    @include mq($xms) {
      height: fit-content;
    }
    .delete {
      width: fit-content !important;
      background-color: $red;
      color: $white;
      margin: 0;
      border-radius: 5px;
    }
  }
  .cartTotal {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
    margin-top: 10px;
    width: 25vw;
    height: 22vh;
    border: 1px solid #c9c4c4;
    margin: 0;
    margin-top: 2rem;
    @include mq($md) {
      width: 45%;
    }
    @include mq($xxsh) {
      width: fit-content;
    }

    h1 {
      font-size: 18px;
      margin-bottom: 10px;
      font-family: 'Poppins', sans-serif;
    }

    .details {
      h2 {
        font-size: 12px;
        margin-bottom: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
      }

      button {
        padding: 10px 20px;
        background-color: #ff8c42;
        color: white;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        margin-left: 45%;
        font-size: 12px;
        margin-bottom: 5%;
        @include mq($xxsh) {
          margin: 0;
        }

        @media (max-width: 1023px) {
          display: block;
          margin: 10px auto;
          width: 100%;
          max-width: 200px;
          margin-left: auto;
          margin-right: auto;
          @include mq($xxsh) {
            margin: 0;
          }
        }

        &:hover {
          background-color: darken(#ff8c42, 10%);
        }
      }
    }
  }
}
.actions,
.bottomActions {
  width: 48%;
  @include mq($xlgs) {
    width: 53%;
  }
  @include mq($lg) {
    width: 70%;
  }
  @include mq($md) {
    width: 90%;
  }
  @include mq($xls) {
    width: 90%;
  }
}
.permissionOffBtns {
  width: 35%;
  @include mq($xlgs) {
    width: 53%;
  }
  @include mq($lg) {
    width: 70%;
  }
  @include mq($md) {
    width: 85%;
  }
}

.bottomActions_center {
  justify-content: center;
}
