.app {
  width: 100%;
  color: #000000;
}

#root {
  width: 100%;
}

.cardBox {
  width: 500px;
  height: 200px;
  margin-left: 33%;
  margin-top: 15%;
  border-radius: 12px;
}
.cardBox h1 {
  text-align: center;
  font-size: 18px;
}
.cardBox .cartEmpty {
  font-family: "poppins", sans-serif;
}

@media (max-width: 768px) {
  .cardBox {
    width: 90%;
    margin-left: 5%;
    margin-top: 50%;
  }
}
@media (max-width: 576px) {
  .cardBox {
    width: 100%;
    margin-left: 0;
    margin-top: 10%;
  }
}
@media screen and (max-width: 780px) {
  .tableContainer_container {
    padding: 1rem;
    width: 100vw;
    margin: 0;
  }
}

.tableContainer {
  padding-top: 2rem;
  overflow-x: auto;
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 780px) {
  .tableContainer {
    width: calc(100vw - 2rem);
    overflow-x: scroll;
    align-items: flex-start;
  }
}

thead {
  background-color: #e6e6e6;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

tbody td img {
  display: block;
  max-width: 150px;
  height: auto;
  border-radius: 5px;
}

tbody tr:nth-child(even) {
  background-color: white;
}

tbody td {
  border-bottom: 1px solid white;
}

tbody td:last-child {
  text-align: right;
}

tbody td:first-child {
  font-weight: bold;
}

tbody td:last-child {
  font-weight: bold;
}

tfoot {
  font-weight: bold;
}

tfoot td {
  padding-top: 12px;
  border-top: 2px solid white;
}

.delete {
  background-color: #DB4444;
  display: flex;
  padding: 0 20px;
  height: 50px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Inter-Regular.ttf";
  border: non;
  cursor: pointer;
  border-radius: 5px;
}
@media screen and (max-width: 1024px) {
  .delete {
    height: 45px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 600px) {
  .delete {
    height: 40px;
    padding: 0 10px;
  }
}

.return-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: 1px solid #c2c2c3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 1023px) {
  .return-btn {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.return-btn:hover {
  background-color: #dadada;
}
.return-btn:focus {
  outline: none;
}

.update-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border: 1px solid #c2c2c3;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
@media (max-width: 1023px) {
  .update-btn {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
.update-btn:hover {
  background-color: #dadada;
}
.update-btn:focus {
  outline: none;
}

.qtyField {
  position: relative;
}
.qtyField .simpleLoading {
  position: absolute;
  inset: 0;
  bottom: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(55, 54, 54, 0.235);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
.qtyField .simpleLoading .spinnerr {
  color: #000000;
}

.errorUpdate {
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  color: #ffffff;
  font-family: "Inter-Regular.ttf";
  font-family: "Inter-Regular.ttf";
  font-size: 1em;
  background-color: #DB4444;
  position: absolute;
  top: -5px;
  right: -20%;
  border-radius: 10px 10px 10px 0;
}
@media screen and (max-width: 1600px) {
  .errorUpdate {
    font-size: 0.9375em;
  }
}
@media screen and (max-width: 1024px) {
  .errorUpdate {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 780px) {
  .errorUpdate {
    font-size: 0.8125em;
  }
}
@media screen and (max-width: 600px) {
  .errorUpdate {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 425px) {
  .errorUpdate {
    font-size: 0.6875em;
  }
}

.changeQuantity {
  border-radius: 10px;
  background-color: #BFC3D1;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  color: #000000;
  border: none;
}
.changeQuantity:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin: auto;
}
@media screen and (max-width: 600px) {
  .actions {
    gap: 10px;
  }
}
@media screen and (max-width: 425px) {
  .actions {
    padding: 0;
    gap: 10px;
  }
}
.actions .delete {
  width: -moz-fit-content !important;
  width: fit-content !important;
  background-color: #DB4444;
  color: #ffffff;
  margin: 0;
  border-radius: 5px;
  margin: 0;
}
.actions .save {
  background-color: #00FF66;
  color: #ffffff;
  padding: 10px 20px;
  margin: 0;
  border-radius: 5px;
}
.actions .cancel {
  background-color: #BFC3D1;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0;
}

.bottomActions {
  display: flex;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  margin: auto;
  background-color: transparent;
}
@media screen and (max-width: 375px) {
  .bottomActions {
    flex-direction: column;
    gap: 20px;
  }
}
.bottomActions .btnDeleteBox {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 26vh;
  background-color: transparent;
}
@media screen and (max-width: 375px) {
  .bottomActions .btnDeleteBox {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.bottomActions .btnDeleteBox .delete {
  width: -moz-fit-content !important;
  width: fit-content !important;
  background-color: #DB4444;
  color: #ffffff;
  margin: 0;
  border-radius: 5px;
}
.bottomActions .cartTotal {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
  width: 25vw;
  height: 22vh;
  border: 1px solid #c9c4c4;
  margin: 0;
  margin-top: 2rem;
}
@media screen and (max-width: 780px) {
  .bottomActions .cartTotal {
    width: 45%;
  }
}
@media screen and (max-width: 425px) {
  .bottomActions .cartTotal {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.bottomActions .cartTotal h1 {
  font-size: 18px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.bottomActions .cartTotal .details h2 {
  font-size: 12px;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.bottomActions .cartTotal .details button {
  padding: 10px 20px;
  background-color: #ff8c42;
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 45%;
  font-size: 12px;
  margin-bottom: 5%;
}
@media screen and (max-width: 425px) {
  .bottomActions .cartTotal .details button {
    margin: 0;
  }
}
@media (max-width: 1023px) {
  .bottomActions .cartTotal .details button {
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1023px) and (max-width: 425px) {
  .bottomActions .cartTotal .details button {
    margin: 0;
  }
}
.bottomActions .cartTotal .details button:hover {
  background-color: #ff6d0f;
}

.actions,
.bottomActions {
  width: 48%;
}
@media screen and (max-width: 1440px) {
  .actions,
  .bottomActions {
    width: 53%;
  }
}
@media screen and (max-width: 1024px) {
  .actions,
  .bottomActions {
    width: 70%;
  }
}
@media screen and (max-width: 780px) {
  .actions,
  .bottomActions {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .actions,
  .bottomActions {
    width: 90%;
  }
}

.permissionOffBtns {
  width: 35%;
}
@media screen and (max-width: 1440px) {
  .permissionOffBtns {
    width: 53%;
  }
}
@media screen and (max-width: 1024px) {
  .permissionOffBtns {
    width: 70%;
  }
}
@media screen and (max-width: 780px) {
  .permissionOffBtns {
    width: 85%;
  }
}

.bottomActions_center {
  justify-content: center;
}/*# sourceMappingURL=cart.css.map */