  @import '../../../styles/variables.scss';
  
  .empty_state{
    margin-top: 100px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    img{
        width: 200px;
        margin: auto;
    }
    h3{
      margin: 8px 0px;
      text-align: center;
      font-weight: normal;
    }
    p{
      font-size: 14px;
      margin: 0px;
      color: $placeholderColor;
      text-align: center;
    }
    button{
      outline: none;
      border:  none;
      border-radius: 3px;
      padding: 8px 8px;
      margin: 20px auto auto auto;
      width: 50%;
      max-width: 200px;
      background: $yellow;
      color: $white;
      letter-spacing: 0.8px;
      text-transform: uppercase;
      font-size: 12px;
      
    }
  }