.app {
  width: 100%;
  color: #000000;
}

#root {
  width: 100%;
}

.home :global {
  max-width: 100vw;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 0;
}
.home :global .wrapperHome {
  color: #000000;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 !important;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
@media screen and (max-width: 1600px) {
  .home :global .wrapperHome {
    padding: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .home :global .wrapperHome {
    padding: 25px;
  }
}
@media screen and (max-width: 780px) {
  .home :global .wrapperHome {
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  .home :global .wrapperHome {
    padding: 15px;
  }
}
.home :global .wrapperHome::-webkit-scrollbar {
  width: 7px;
}
@media screen and (max-width: 600px) {
  .home :global .wrapperHome::-webkit-scrollbar {
    display: none;
  }
}
.home :global .wrapperHome::-webkit-scrollbar-track {
  background: rgba(3, 3, 3, 0.5);
}
@media screen and (max-width: 600px) {
  .home :global .wrapperHome::-webkit-scrollbar-track {
    display: none;
  }
}
.home :global .wrapperHome::-webkit-scrollbar-thumb {
  background: #db5600;
  border-radius: 100px;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .home :global .wrapperHome::-webkit-scrollbar-thumb {
    display: none;
  }
}
.home :global .wrapperHome::-webkit-scrollbar-thumb:hover {
  background: #ff7c29;
}
.home :global .wrapperHome::-webkit-scrollbar-thumb:hover::-webkit-scrollbar-track {
  border: 0.5px solid #FF8C42;
}
@media screen and (max-width: 600px) {
  .home :global .wrapperHome::-webkit-scrollbar-thumb:hover {
    display: none;
  }
}
.home :global .wrapperHome .homeSlides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  border-radius: 12px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  width: 100%;
  padding: 0;
}
.home :global .wrapperHome .title {
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 0 30px;
  font-size: 1.5625em;
  font-family: "Inter-SemiBold.ttf";
  font-family: "poppins", sans-serif;
}
@media screen and (max-width: 1600px) {
  .home :global .wrapperHome .title {
    font-size: 1.4375em;
  }
}
@media screen and (max-width: 1024px) {
  .home :global .wrapperHome .title {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 780px) {
  .home :global .wrapperHome .title {
    font-size: 1.125em;
  }
}
@media screen and (max-width: 600px) {
  .home :global .wrapperHome .title {
    font-size: 1em;
  }
}
@media screen and (max-width: 425px) {
  .home :global .wrapperHome .title {
    font-size: 0.9375em;
  }
}
@media screen and (max-width: 1600px) {
  .home :global .wrapperHome .title {
    padding: 0 20px;
  }
}
@media screen and (max-width: 1024px) {
  .home :global .wrapperHome .title {
    padding: 0 15px;
  }
}
.home :global .wrapperHome .newProducts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 50px;
  height: 40vh;
}
@media screen and (max-width: 425px) {
  .home :global .wrapperHome .newProducts {
    display: none;
  }
}
.home :global .wrapperHome .newProducts .slides_of_Products {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 30px);
  position: relative;
}
.home :global .wrapperHome .newProducts .slides_of_Products .bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
.home :global .wrapperHome .recommendedProducts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background-color: transparent;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
}
.home :global .wrapperHome .recommendedProducts .productsLists {
  padding-left: 20px;
  width: 100%;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (max-width: 1600px) {
  .home :global .wrapperHome .recommendedProducts .productsLists {
    gap: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .home :global .wrapperHome .recommendedProducts .productsLists {
    gap: 10px;
  }
}
.home :global .wrapperHome .recommendedProducts .productsLists .product {
  width: calc(16.6666666667% - 20px);
}
@media screen and (max-width: 1600px) {
  .home :global .wrapperHome .recommendedProducts .productsLists .product {
    width: calc(20% - 15px);
  }
}
@media screen and (max-width: 1110px) {
  .home :global .wrapperHome .recommendedProducts .productsLists .product {
    width: calc(25% - 15px);
  }
}
@media screen and (max-width: 1024px) {
  .home :global .wrapperHome .recommendedProducts .productsLists .product {
    width: calc(25% - 10px);
  }
}
@media screen and (max-width: 780px) {
  .home :global .wrapperHome .recommendedProducts .productsLists .product {
    width: calc(33.3333333333% - 10px);
  }
}
@media screen and (max-width: 600px) {
  .home :global .wrapperHome .recommendedProducts .productsLists .product {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 480px) {
  .home :global .wrapperHome .recommendedProducts .productsLists .product {
    width: 100%;
  }
}
.home :global .wrapperHome .homeCards {
  padding-top: 20px;
}/*# sourceMappingURL=home.module.css.map */