<<<<<<< HEAD
@import '../../../../styles/variables.scss';

$signup__container-width: 40%;
$signup__container-height: 500px;
$signup__container-background: $white-two;
$signup__container-margin-top: 50px;
$h1-text-align: center;
$h1-font-family: 'Inter', sans-serif;
$h1-font-weight: bolder;
$h1-font-size: 24px;
$h1-padding-top: 5%;
$h3-text-align: center;
$h3-font-family: 'Poppins', sans-serif;
$h3-font-size: 16px;
$h3-font-weight: lighter;
$h2-font-family: 'Poppins', sans-serif;
$h2-text-align: center;
$h2-font-size: 16px;
$h2-margin-left: 2rem;
$h2-font-weight: lighter;
$h2-color: #656566;
$h2-margin-top: 10%;
$a-color: #656566;
$text-decoration: underline;
$button-background: $yellow;
$button-margin-left: 10%;
$button-padding: 15px;
$button-width: 78%;
$button-border: none;
$button-border-radius: 5px;
$button-cursor: pointer;
$color: #fff;
$fontsize: 15px;

.account__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: $popinsRegular;
  height: 80vh;
  .signup__container {
    width: 40%;
    background: $white-two;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 50px;
    border-radius: 3px;
    border: 1px solid $transparentBlack;
    transition: 0.3s;
    :global {
      .btn_wrapper {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
  }
}

h1 {
  font-family: $h1-font-family;
  font-weight: $h1-font-weight;
  text-align: $h1-text-align;
  font-size: $h1-font-size;
}

h3 {
  font-family: $h3-font-family;
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  text-align: $h3-text-align;
}

h2 {
  font-family: $h2-font-family;
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  color: $h2-color;
  margin-top: $h2-margin-top;
  text-align: $h2-text-align;
}

a {
  color: $a-color;
  text-decoration: $text-decoration;
}

.btnSignup {
  background: $button-background;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  color: $color;
  font-size: $fontsize;
  cursor: $button-cursor;
  width: $button-width;
  margin-left: $button-margin-left;
}
.error {
  width: 100%;
  text-align: center;
  color: $red;
}

// Media queries
@media only screen and (max-width: $mdb) {
  .account__container {
    .signup__container {
      width: 50%;
    }
  }
}

@media only screen and (max-width: $md) {
  .account__container {
    .signup__container {
      width: 70%;
      margin: 50px auto;
    }
  }
}

@media only screen and (max-width: $sm) {
  .account__container {
    .signup__container {
      width: 90%;
    }
    h2 {
      font-size: 15px;
      margin: 30px 0;
    }
  }
}
=======
@import '../../../../styles/variables.scss';

$signup__container-width: 40%;
$signup__container-height: 500px;
$signup__container-background: $white-two;
$signup__container-margin-top: 50px;
$h1-text-align: center;
$h1-font-family: 'Inter', sans-serif;
$h1-font-weight: bolder;
$h1-font-size: 24px;
$h1-padding-top: 5%;
$h3-text-align: center;
$h3-font-family: 'Poppins', sans-serif;
$h3-font-size: 16px;
$h3-font-weight: lighter;
$h2-font-family: 'Poppins', sans-serif;
$h2-text-align: center;
$h2-font-size: 16px;
$h2-margin-left: 2rem;
$h2-font-weight: lighter;
$h2-color: #656566;
$h2-margin-top: 10%;
$a-color: #656566;
$text-decoration: underline;
$button-background: $yellow;
$button-margin-left: 10%;
$button-padding: 15px;
$button-width: 78%;
$button-border: none;
$button-border-radius: 5px;
$button-cursor: pointer;
$color: #fff;
$fontsize: 15px;

.account__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: $interRegular;
  height: 80vh;
  .signup__container {
    width: 40%;
    background: $white-two;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 30px;
    margin-top: 50px;
    border-radius: 3px;
    border: 1px solid #00000018;
    transition: 0.3s;
    :global {
      .btn_wrapper {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
  }
}

h1 {
  font-family: $h1-font-family;
  font-weight: $h1-font-weight;
  text-align: $h1-text-align;
  font-size: $h1-font-size;
}

h3 {
  font-family: $h3-font-family;
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  text-align: $h3-text-align;
}

h2 {
  font-family: $h2-font-family;
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  color: $h2-color;
  margin-top: $h2-margin-top;
  text-align: $h2-text-align;
}

a {
  color: $a-color;
  text-decoration: $text-decoration;
}

.btnSignup {
  background: $button-background;
  padding: $button-padding;
  border: $button-border;
  border-radius: $button-border-radius;
  color: $color;
  font-size: $fontsize;
  cursor: $button-cursor;
  width: $button-width;
  margin-left: $button-margin-left;
}
.error {
  width: 100%;
  text-align: center;
  color: $red;
}

// Media queries
@media only screen and (max-width: $mdb) {
  .account__container {
    .signup__container {
      width: 50%;
    }
  }
}

@media only screen and (max-width: $md) {
  .account__container {
    .signup__container {
      width: 70%;
      margin: 50px auto;
    }
  }
}

@media only screen and (max-width: $sm) {
  .account__container {
    .signup__container {
      width: 90%;
    }
    h2 {
      font-size: 15px;
      margin: 30px 0;
    }
  }
}
>>>>>>> A seller should be to update the product in case he/she needs to - ensures that user have the form to update their certain products -allow user to view a way to update an image displayed on product also Delivers #185172094]
