<<<<<<< HEAD
@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.account__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: $popinsRegular;
    height: 80vh;
    .container__box_tfa {
        width: 40%;
        background: $white-two;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        padding-bottom: 30px;
        margin-top: 50px;
        border-radius: 3spx;
        border: 1px solid $transparentBlack;
        transition: .3s;
        margin: auto;
    
        .container__box__text {
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 20%;
            }
            .email {
                color: $yellow;
            }
        }
        .container__box__input form{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
        }
        .container__box__input .form {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
        }
        .container__box__input input {
            font-size: 30px;
            outline: none;
            background: none;
            border: none;
            border-bottom: 1px solid $transparentBlack;
            color: var(--black);
            width: 44%;
            text-align: center;
            letter-spacing: 10px;
        }
        .container__box__input button {
            padding: 10px;
            min-width: 65px;
            margin-left: 5px;
            background: $yellow;
            outline: none;
            border: 1px solid $transparentBlack;
            cursor: pointer;
            transition: .3s;
        }
    }
    .error {
        color: $red;
        font-weight: bold;
    }
}

@media screen and (max-width: $mdb) {
    .account__container {
        .container__box_tfa {
           width: 50%;
           font-size: small;
       
           .container__box__input input {
               font-size: medium;
               width: 55%;
           }
        }
    }
}
@media screen and (max-width: $md) {
    .account__container {
        .container__box_tfa {
           width: 70%;
           font-size: small;
        }
        .loader {
            width: 70%;
        }
    }
}
@media screen and (max-width: $sm) {
    .account__container {
        .container__box_tfa {
           width: 90%;
           justify-content: center;
           height: auto;
           font-size: small;
        }
        .loader {
            width: 90%;
         }
    }
=======
@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.account__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: $interRegular;
    height: 80vh;
    .container__box_tfa {
        width: 40%;
        background: $white-two;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        padding-bottom: 30px;
        margin-top: 50px;
        border-radius: 3spx;
        border: 1px solid #00000018;
        transition: .3s;
        margin: auto;
    
        .container__box__text {
            padding: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            img {
                width: 20%;
            }
            .email {
                color: $yellow;
            }
        }
        .container__box__input form{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
        }
        .container__box__input .form {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
        }
        .container__box__input input {
            font-size: 30px;
            outline: none;
            background: none;
            border: none;
            border-bottom: 1px solid #0000005b;
            color: var(--black);
            width: 44%;
            text-align: center;
            letter-spacing: 10px;
        }
        .container__box__input button {
            padding: 10px;
            min-width: 65px;
            margin-left: 5px;
            background: $yellow;
            outline: none;
            border: 1px solid #00000010;
            cursor: pointer;
            transition: .3s;
        }
    }
    .error {
        color: $red;
        font-weight: bold;
    }
}

@media screen and (max-width: $mdb) {
    .account__container {
        .container__box_tfa {
           width: 50%;
           font-size: small;
       
           .container__box__input input {
               font-size: medium;
               width: 55%;
           }
        }
    }
}
@media screen and (max-width: $md) {
    .account__container {
        .container__box_tfa {
           width: 70%;
           font-size: small;
        }
        .loader {
            width: 70%;
        }
    }
}
@media screen and (max-width: $sm) {
    .account__container {
        .container__box_tfa {
           width: 90%;
           justify-content: center;
           height: auto;
           font-size: small;
        }
        .loader {
            width: 90%;
         }
    }
>>>>>>> A seller should be to update the product in case he/she needs to - ensures that user have the form to update their certain products -allow user to view a way to update an image displayed on product also Delivers #185172094]
}