.app {
  width: 100%;
  color: #000000;
}

#root {
  width: 100%;
}

.cardItem :global {
  border: none;
  padding: 0;
  margin: 0;
  flex-grow: 0;
  width: 100%;
  height: 100%;
  max-height: 300px;
}
.cardItem :global .cardContent {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  padding-bottom: 10px;
  position: relative;
  border: 1px solid #ECEDF2;
  transition: all 0.5s ease-in-out;
}
.cardItem :global .cardContent:hover {
  transform: scale(1.03);
}
.cardItem :global .image {
  border-radius: inherit;
  padding: 0;
  margin: 0;
  background-color: #ECEDF2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}
@media screen and (max-width: 1600px) {
  .cardItem :global .image {
    padding: 6px;
  }
}
.cardItem :global .image .imageProduct {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.cardItem :global .delete {
  position: absolute;
  top: 10px;
  z-index: 2;
  right: 10px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  height: 30px;
  width: auto;
  transition: all 0.5s ease-in-out;
}
.cardItem :global .delete:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 1600px) {
  .cardItem :global .delete {
    height: 25px;
    top: 6px;
    right: 6px;
  }
}
@media screen and (max-width: 1024px) {
  .cardItem :global .delete {
    height: 20px;
  }
}
@media screen and (max-width: 600px) {
  .cardItem :global .delete {
    height: 15px;
  }
}
.cardItem :global .discount {
  position: absolute;
  top: 10px;
  z-index: 2;
  left: 10px;
  background-color: #FF8C42;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  width: 55px;
  height: 26px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
@media screen and (max-width: 1600px) {
  .cardItem :global .discount {
    top: 6px;
    left: 6px;
  }
}
.cardItem :global .title {
  font-family: "Inter-Bold.ttf";
  font-size: 1.125em;
  font-family: "Inter-SemiBold.ttf";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  padding: 0 10px;
}
@media screen and (max-width: 1600px) {
  .cardItem :global .title {
    font-size: 1.0625em;
  }
}
@media screen and (max-width: 1024px) {
  .cardItem :global .title {
    font-size: 1em;
  }
}
@media screen and (max-width: 780px) {
  .cardItem :global .title {
    font-size: 0.9375em;
  }
}
@media screen and (max-width: 600px) {
  .cardItem :global .title {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 425px) {
  .cardItem :global .title {
    font-size: 0.8125em;
  }
}
@media screen and (max-width: 1600px) {
  .cardItem :global .title {
    padding: 0 6px;
  }
}
.cardItem :global .prices {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 0 10px;
}
@media screen and (max-width: 1600px) {
  .cardItem :global .prices {
    padding: 0 6px;
  }
}
.cardItem :global .prices .newPrice {
  color: #DB4444;
  font-family:'Poppins-Regular.ttf';
  font-size: 1em;
}
@media screen and (max-width: 1600px) {
  .cardItem :global .prices .newPrice {
    font-size: 0.9375em;
  }
}
@media screen and (max-width: 1024px) {
  .cardItem :global .prices .newPrice {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 780px) {
  .cardItem :global .prices .newPrice {
    font-size: 0.8125em;
  }
}
@media screen and (max-width: 600px) {
  .cardItem :global .prices .newPrice {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 425px) {
  .cardItem :global .prices .newPrice {
    font-size: 0.6875em;
  }
}
.cardItem :global .prices .oldPrice {
  color: rgba(0, 0, 0, 0.5);
  font-family:'Poppins-Regular.ttf';
  font-size: 1em;
  text-decoration: line-through;
}
@media screen and (max-width: 1600px) {
  .cardItem :global .prices .oldPrice {
    font-size: 0.9375em;
  }
}
@media screen and (max-width: 1024px) {
  .cardItem :global .prices .oldPrice {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 780px) {
  .cardItem :global .prices .oldPrice {
    font-size: 0.8125em;
  }
}
@media screen and (max-width: 600px) {
  .cardItem :global .prices .oldPrice {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 425px) {
  .cardItem :global .prices .oldPrice {
    font-size: 0.6875em;
  }
}
.cardItem :global .ratingsCard {
  width: 100%;
  font-family:'Poppins-Regular.ttf';
  font-size: 1em;
  padding: 0 10px;
}
@media screen and (max-width: 1600px) {
  .cardItem :global .ratingsCard {
    font-size: 0.9375em;
  }
}
@media screen and (max-width: 1024px) {
  .cardItem :global .ratingsCard {
    font-size: 0.875em;
  }
}
@media screen and (max-width: 780px) {
  .cardItem :global .ratingsCard {
    font-size: 0.8125em;
  }
}
@media screen and (max-width: 600px) {
  .cardItem :global .ratingsCard {
    font-size: 0.75em;
  }
}
@media screen and (max-width: 425px) {
  .cardItem :global .ratingsCard {
    font-size: 0.6875em;
  }
}
@media screen and (max-width: 1600px) {
  .cardItem :global .ratingsCard {
    padding: 0 6px;
  }
}/*# sourceMappingURL=cardItem.module.css.map */