<<<<<<< HEAD

$borderColor:#c9c9cd;

.widthLong {
    width: 100%;
    background: none;
    padding: 15px;
    display: inline-block;
    border: none;
    outline: none;
    border-bottom: 1px solid $borderColor;
    display: block;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.border-sharp{
    border-radius: 0px;
}
.border--round{
    border-radius: 5px;
}
.all:focus{
  outline: none;
}
=======
.widthLong {
    width: 100%;
    background: none;
    padding: 15px;
    display: inline-block;
    border: none;
    outline: none;
    border-bottom: 1px solid #c9c9cd;
    display: block;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}
.border-sharp{
    border-radius: 0px;
}
.border--round{
    border-radius: 5px;
}
.all:focus{
  outline: none;
}
>>>>>>> A seller should be to update the product in case he/she needs to - ensures that user have the form to update their certain products -allow user to view a way to update an image displayed on product also Delivers #185172094]
