// fonts
$interBlack: "Inter-Black.ttf";
$interBold: "Inter-Bold.ttf";
$interExtraBold: "Inter-ExtraBold.ttf";
$interExtraLight: "Inter-ExtraLight.ttf";
$interMedium: "Inter-Medium.ttf";
$interRegular: "Inter-Regular.ttf";
$interThin: "Inter-Thin.ttf";
$interSemiBold: "Inter-SemiBold.ttf";
$logoText: fantasy;

//  colors
$red:#DB4444;
$yellow:#FFAD33;
$orange:#FF8C42;
$black:#000000;
$placeholderColor:#BFC3D1;
$white:#ffffff;
$lightBlack:#3c2a2a;
$bgInput:#ECEDF2;
$lightBlue:#54BAED;
$gray:rgba(0, 0, 0, 50%);
$pureGray:#D9D9D9;
$green:#00FF66;
$btnStatus: #504242;
$lightGray:rgba(0, 0, 0, .3);
$inputbackground:#9999996f;
$sideNavHover:#ECECEC;
$borderColor:1px solid rgba(0, 0, 0, 0.228);
$boxShadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
$greyLabel:#B5B5B5;
$Boldgreylabel: #757575;
$white-two: #f1f1f1;
$darkGray:rgba(0, 0, 0, .7);

// srceen sizes
$sm:500px;
$xxs:320px;
$xxsh:425px;
$xls:600px;
$xlsb:692;
$xlsh:500px;
$xms:375px;
$mdb: 991px;
$smb: 576px;
$md:780px;
$lgh:930px;
$lg:1024px;
$lgd:1166px;
$xlg:1600px;
$xlg1920:1920px;
$xxlg:5000px;
$headervh:100vh;
$header-padding:10vw;
$divider: calc(4 / 3);
$xd-width:1920;
$xd-height:1080;
$m-width:1080px;
$width-of-container: calc(85px / $divider);
$menu-height:54px;
