
$blue:#00239C;
$darkBlue:#001561;
$Bluesemi:#070082;
$black:#000000;
$white:#fff;
$background:#000;
$red:#fa0a4e;
$orange:#d7551c;
$gray:#D0D3DB;
$opaqueOrange: hsla(11, 69%, 74%, 16%);
$opaqueGreen: hsla(106, 69%, 49%, 16%);
$lightestGray: hsla(240, 100%, 2%, 40%);
$lighBlue:#B0C3FF;
$blackgray:rgba(0, 0, 0, 40%);
$grayblack:rgba(0, 0, 0, 30%);
$backgroundColor:#EAEFFF;
$white_opaque:hsla(0, 0%, 100%, .5);
$sucess:#4ed326;
$white:#fff;
$sm:500px;
$xxs:320px;
$xxsh:425px;
$xls:600px;
$xlsb:692;
$xlsh:500px;
$xms:375px;
$mdb: 991px;
$smb: 576px;
$md:780px;
$lgh:930px;
$lg:1024px;
$lgd:1166px;
$xlg:1600px;
$xlg1920:1920px;
$xxlg:5000px;
$headervh:100vh;
$header-padding:10vw;
$divider: calc(4 / 3);
$xd-width:1920;
$xd-height:1080;
$width-of-container: calc(85px / $divider);
$menu-height:54px;
